.navbarStart{
    top:0;
    position: sticky;
    background-color: #6636C9;
    display: flex;
    align-items: center;
    z-index: 999;
    padding: 10px;
    margin-bottom: 10px;
}

.navbarStartLinks{
    font-size: 18px;
    color: white;
    margin-right: 25px;
    text-decoration: none;
}